<form method=post action=/logout>
<input class="logout"type=submit value="Logout">
</form>
<form method=get action=/myprofile>
<button type=submit >My Profile</button>
</form>

<div class="home_headings">

	<div class="home_headers">
		<h1> Welcome to <b>Twitter</b> @<%=current_user.username%></h1>
		<h3> What's happening? </h3>

		<form class="form-wrapper cf" method=post action=/tweet>	
			<input type="text" placeholder="Whats happening" name="subject">
			<button type="submit">Tweet</button>
		</form>
	</div>
</div>

<div class= "tweets">

	<table>
	  <tr >
	    <th>Tweets</th>  
	  </tr>

	  <% @tweets.each do |tweet| %>
	  <tr><td><%= tweet.subject %>  ---by---  <form method=post action="/profile/<%=tweet.user.username%>" >
	  <input type=submit name= "<%=tweet.user.username%>" value="@<%=tweet.user.username%>"></form>
	  <%end%>
	 </table>

